<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.YogaMate.model.dao.CommentDao">
    <!-- article에 해당하는 모든 댓글 가져오기 -->
    <select id="getAllComments" parameterType="Integer" resultType="Comment">
        SELECT *
        FROM comment
        WHERE article_idx = #{articleIdx}
    </select>

    <!-- 댓글 작성 -->
    <insert id="writeComment" parameterType="Comment">
        INSERT INTO comment (article_idx, content, writer)
        VALUES (#{articleIdx}, #{content}, #{writer})
    </insert>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="Comment">
        UPDATE comment
        SET content = #{content}, reg_date = now()
        WHERE idx = #{idx}
    </update>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment" parameterType="Integer">
        DELETE FROM comment
        WHERE idx = #{idx}
    </delete>

</mapper>